@{ 
    ViewData["Title"] = "completebooking";
}




<div id="tab-content4" class="contents">
    <h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est temporibus recusandae quod.
        Ratione maiores eligendi animi atque eveniet voluptate neque numquam consequuntur, quod
        asperiores quo quisquam tempore beatae odio aliquid.
    </h3>
</div>
